<footer class="footer bg-dark mt-auto">
    <div class="container py-3">   
        <span id="yelpcamp-year" class="text-white-50">&copy; YelpCamp </span>
        <script>document.querySelector('#yelpcamp-year').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </div>
</footer>
